elpa/*
el-get/*
autosave/*
backup/*
auto-save-list
tramp
eshell
idlwave
emacs-realtime-markdown-viewer-master
emacs-visited-files
.yas-compiled-snippets.el
.org-id-locations
!.gitkeep
recentf
transient/*
ac-comphist.dat